<!DOCTYPE html>
<html lang="zh-TW">
    <head>

        <!-- 載入追蹤碼js -->
        <script>
            let cacheID = new Date().getMilliseconds();
            let Login_InternalScript = document.createElement('script');
            Login_InternalScript.src = `https://event.kgi.com.tw/news/event/commonResources/js/trackingCode.js?uid=` + cacheID;
            document.head.appendChild(Login_InternalScript);
        </script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#081c43" />
        <meta name="format-detection" content="telephone=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="shortcut icon" href="images/favicon.ico" />
        <link href="https://www.kgi.com.tw/media/assets/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
        <link href="https://www.kgi.com.tw/media/assets/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="https://www.kgi.com.tw/media/assets/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <title>零股聰明買實現小額投資!</title>
        <meta property="og:title" content="零股聰明買實現小額投資!" />
        <meta name="twitter:title" content="零股聰明買實現小額投資!" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "凱基證券",
                "url": "https://www.kgi.com.tw/",
                "logo": "https://www.kgi.com.tw/zh-tw/-/media/images/kgis/header/logo-kgis.svg",
                "mainEntityOfPage":{
                    "@type": "WebPage",
                    "@id": "https://event.kgi.com.tw/news/event/small-invest/index.html"
                },
                "image":[
                    "https://event.kgi.com.tw/news/event/small-invest/images/fb.jpg"
                ]
            }
        </script>
    
        <script type="application/ld+json">
            {
                "@context": "http://schema.org", 
                "@type": "BreadcrumbList", 
                "itemListElement": [{ 
                    "@type": "ListItem", 
                    "position": 1, 
                    "item": " https://www.kgi.com.tw/", 
                    "name": "首頁" 
                } ,
                { 
                    "@type": "ListItem", 
                    "position": 2, 
                    "item": "https://event.kgi.com.tw/news/event/small-invest/index.html",
                    "name": "零股聰明買實現小額投資!" 
                } ]
            }
        </script>

        <meta property="og:type" content="website" />
        <!-- <meta property="fb:app_id" content="xxxxxxxx" /> -->
        <meta name="description" content="零股讓您以銅板價理財、以小「得」大！凱基證券將手把手教學，助小資族輕鬆進入投資世界，透過APP進行上市上櫃的零股下單超簡單，一起深入了解更多零股手續費計算、零股優缺點，零股推薦您找凱基證券，不用再擔心零股怎麼買！" />
        <meta property="og:description" content="零股讓您以銅板價理財、以小「得」大！凱基證券將手把手教學，助小資族輕鬆進入投資世界，透過APP進行上市上櫃的零股下單超簡單，一起深入了解更多零股手續費計算、零股優缺點，零股推薦您找凱基證券，不用再擔心零股怎麼買！" />
        <meta name="twitter:description" content="零股讓您以銅板價理財、以小「得」大！凱基證券將手把手教學，助小資族輕鬆進入投資世界，透過APP進行上市上櫃的零股下單超簡單，一起深入了解更多零股手續費計算、零股優缺點，零股推薦您找凱基證券，不用再擔心零股怎麼買！" />
        <meta property="og:url" content="https://event.kgi.com.tw/news/event/small-invest/index.html" />
        <link rel="canonical" href="https://event.kgi.com.tw/news/event/small-invest/index.html" />
        <meta property="og:image" content="https://event.kgi.com.tw/news/event/small-invest/images/fb.jpg" />
        <meta name="twitter:image" content="https://event.kgi.com.tw/news/event/small-invest/images/fb.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image" />
        <!-- <meta name="twitter:site" content="@" /> -->

        <link rel="stylesheet" type="text/css" href="https://event.kgi.com.tw/news/event/commonResources/css/slick.css" />
        <link href="https://event.kgi.com.tw/news/event/commonResources/css/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" />

        <!-- google font start -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700,900&display=swap" rel="stylesheet"> -->
        <!-- google font end -->

        <script src="https://kit.fontawesome.com/2b08349a66.js" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/jquery-v3.4.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/slick.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!-- <script src="https://event.kgi.com.tw/news/event/commonResources/js/httpVueLoader.js"></script> -->

        <!-- 數字遞增動畫 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script> -->

        <!-- iOS 和 Android 的智能應用橫幅 -->
        <meta name="apple-itunes-app" content="app-id=1473914290">
        <meta name="google-play-app" content="app-id=tw.com.kgi.ecapp">
        <link href="https://event.kgi.com.tw/news/event/commonResources/css/jquery.smartbanner.css" rel="stylesheet">
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/jquery.smartbanner.js"></script>
        <script type="text/javascript">
            $(function() { $.smartbanner() } )
        </script>
        <style>
            #smartbanner {position: relative!important;} #smartbanner .sb-info > span:last-of-type {display: none;} #smartbanner.android .sb-button span {display: none;} #smartbanner.android {border-top-color: #005598;}
            .sb-button:before {content: '打開'; display: block; line-height: 28px; background: #005598; color: #fff;}
        </style>

        <!-- scrollMagic + tweenMax -->
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/ScrollMagic-v2.0.7.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/debug.addIndicators-v2.0.7.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="https://event.kgi.com.tw/news/event/commonResources/js/animation.gsap.js"></script>

        <!-- 加速網頁載入速度開源程式 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
        <script>
            window.addEventListener('load', () => {
                quicklink.listen();
            });
        </script>

    </head>

    <body>

        <div id="app" v-cloak>

            <div id="top"></div>
            <div class="header clearfix">
                <div class="header-logo">
                    <a href="https://www.kgi.com.tw/zh-tw/" title="凱基證券" target="_blank">
                        <img src="images/logo.svg" alt="凱基證券">
                    </a>
                </div>
            </div>

            <!-- main -->
            <article class="main">
                <section class="banner">
                    <h1 title="零股聰明買實現小額投資！" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        零股<br v-if="windowWidth <= 767"/><span>聰明買</span>
                        <div class="wf">實現小額投資</div>
                    </h1>
                    <div class="banner-flower">
                        <img class="flower01" src="images/banner-flower01.svg" alt="flower"  data-aos="fade-up" data-aos-duration="500">
                        <img class="flower02" src="images/banner-flower02.svg" alt="flower"  data-aos="fade-up" data-aos-duration="1000">
                        <img class="flower03" src="images/banner-flower03.svg" alt="flower"  data-aos="fade-up" data-aos-duration="1500">
                        <img class="water" src="images/banner-water.svg" alt="water"  data-aos="fade-right">
                        <img class="airplane" src="images/banner-airplane.svg" alt="airplane" data-aos="fade-left">
                    </div>
                    <div class="banner-arrow">
                        <div class="banner-arrow-box">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="1000">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="2000">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="1500">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="1000">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="1500">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="1500">
                            <img src="images/banner-arrow.svg" alt="arrow"  data-aos="fade-up"  data-aos-duration="2000">
                        </div>
                    </div>
                    <div class="banner-wave">
                    </div>
                </section>

                <section class="description">
                    <div class="container">
                        <div class="description-box">
                            <p>
                                零股讓您以銅板價理財、以小「得」大！凱基證券將手把手教學，助小資族輕鬆進入投資世界，透過APP進行零股下單超簡單，<span>一起深入了解更多零股手續費計算、零股優缺點</span>，零股推薦您找凱基證券，不用再擔心零股怎麼買！
                            </p>
                        </div>
                    </div>
                </section>

                <share-link></share-link>

                <section class="intro item">
                    <div class="container">
                        <h2 class="tag" title="零股入門">\  零股入門  /</h2>
                        <h2 class="tit-type1 pcshowmobilehide" title="零股是什麼？和整股哪裡不一樣？"><span>零股</span>是什麼？和<span class="tsc">整股</span>哪裡不一樣？</h2>
                        <h2 class="tit-type1 pchidemobileshow" title="零股是什麼？和整股哪裡不一樣？"><span>零股</span>是什麼？<br/>和<span class="tsc">整股</span>哪裡不一樣？</h2>
                        <h3 class="tit-type2" >整股、零股差別比較</h3>
                        <div class="intro-content">
                            <div class="intro-content-card" data-aos="fade-up" data-aos-duration="500">
                                <p>零股</p>
                                <ul>
                                    <img src="images/intro-stock01.svg" alt="零股">
                                    <li>小額投資好夥伴！</li>
                                    <li>以<span>「股」</span>為單位</li>
                                    <li>買賣股票單位不及1張，<br/><span>1-999股都是零股！</span></li>
                                </ul>
                            </div>
                            <div class="intro-content-card" data-aos="fade-up" data-aos-duration="1000">
                                <p>整股</p>
                                <ul>
                                    <img src="images/intro-stock02.svg" alt="整股">
                                    <li>台股交易常見單位</li>
                                    <li>以<span>「張」</span>為單位</li>
                                    <li><span>1張股票＝1,000股</span></li>
                                </ul>
                            </div>
                        </div>
                        <p class="intro-ex" data-aos="fade-up"><span>例如</span><br/>台積電股價為500元，想要以整股買入1張需要50萬元；若是以零股的方式買入1股只要500元，讓您小額投資也能作大企業的股東！</p>
                    </div>
                </section>

                <section class="time item">
                    <div class="container">
                        <h2 class="tag" title="零股怎麼買？">\  零股怎麼買？  /</h2>
                        <h2 class="tit-type1" title="帶您看個別零股交易時間">帶您看個別零股<span>交易時間</span></h2>
                        <p>自2020年10月26日起，零股買賣時間更新制度上路！提供給各位小額投資人更多便利性，可分為「盤中」、「盤後」2個零股撮合與交易時段。</p>
                        <div class="titbox" data-aos="fade-down">
                            <h3 class="titbox-width01" title="盤中零股交易時間"><span>盤中</span><br>零股交易時間</h3>
                            <h3 class="titbox-width02" ></h3>
                            <h3 class="titbox-width01" title="盤後零股交易時間"><span>盤後</span><br>零股交易時間</h3>
                        </div>
                        <div class="time-content" data-aos="fade-up">
                            <table>
                                <tr>
                                    <td>9:10首次撮合，後續每分鐘以集合競價撮合一次，<span>一天共260次。</span></td>
                                    <th>零股<br>撮合時間</th>
                                    <td>僅在14:30進行集合競價撮合，<span>一天共1次。</span></td>
                                </tr>
                                <tr>
                                    <td>出價較高者零股買入順序優先、出價較低者零股賣出順序優先；<span>同價格時，第一次撮合由電腦隨機選取，隨後以時間先後順序而定。</span></td>
                                    <th>零股<br>成交順序</th>
                                    <td>出價較高者零股買入順序優先、出價較低者零股賣出順序優先；<span>同價格時，均由電腦隨機排序。</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>

                <section class="explain item">
                    <div class="container">
                        <h2 class="tag" title="零股下單要注意！">\  零股下單要注意！  /</h2>
                        <h2 class="tit-type1" title="盤中、盤後零股2者異同解析"><span>盤中、盤後</span>零股2者異同解析</h2>
                        <p>無論是盤中零股下單還是盤後零股下單，皆只能用限價<span>當日有效（ROD）</span>單進行，且盤中盤後零股交易標的均<span>僅限TDR、ETF、股票、受益憑證</span>等，認購／認售權證及ETN不得進行零股交易。
                            對於2種零股交易之間的資訊有點混淆了嗎？此處盤中盤後零股交易的重點凱基一次整理成表格給您看！
                        </p>
                        <div class="titbox" data-aos="fade-down">
                            <h3 class="titbox-width02" ></h3>
                            <h3 class="titbox-width01" title="盤中"><span>盤中</span></h3>
                            <h3 class="titbox-width01" title="盤後"><span>盤後</span></h3>
                        </div>
                        <div class="time-content" data-aos="fade-up">
                            <table>
                                <tr>
                                    <th>委託時間</th>
                                    <td>9:00~13:30</td>
                                    <td>13:40~14:30</td>
                                </tr>
                                <tr>
                                    <th>掛單方式</th>
                                    <td colspan="2">
                                        限價單<br>指定價格的委託單
                                    </td>
                                </tr>
                                <tr>
                                    <th>競價方式</th>
                                    <td>
                                        9:10第一次撮合<br>
                                        每1分鐘撮合一次
                                    </td>
                                    <td>
                                        盤後14:30<br>
                                        集合競價撮合一次
                                    </td>
                                </tr>
                                <tr>
                                    <th>成交順序</th>
                                    <td>價格優先再依時間</td>
                                    <td>
                                        價格優先<br>
                                        同價位電腦隨機決定
                                    </td>
                                </tr>
                                <tr>
                                    <th>委託方式</th>
                                    <td>電子交易</td>
                                    <td>電子、人工交易</td>
                                </tr>
                                <tr>
                                    <th>資訊揭示</th>
                                    <td>
                                        每5秒揭示<br>
                                        模擬最佳5檔價格
                                    </td>
                                    <td>
                                        14:25~14:30<br>
                                        每30秒揭示最佳1檔價格
                                    </td>
                                </tr>
                                <tr>
                                    <th>手續費</th>
                                    <td colspan="2">
                                        <ul>
                                            <li><span>上市股票</span>成交金額 × 0.1425% × 優惠費率，每筆不足1元時仍以1元計收。</li>
                                            <li><span>上櫃股票</span>成交金額× 0.1425% × 優惠費率，每筆不足20元時仍以20元計收。</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>

                <section class="fee item">
                    <div class="container">
                        <h2 class="tit-type1" title="零股手續費">零股手續費</h2>
                        <p>不管是交易零股還是整股，都會收取一定的手續費，零股手續費計算是根據買進、賣出而有所差異，項目分成以下2種。</p>
                        <ul>
                            <li><span>券商的零股交易手續費</span><br v-if="windowWidth <= 767"/>「股價 × 股數 × 0.1425%」，買入、賣出皆須繳交。</li>
                            <li><span>證券交易稅</span><br v-if="windowWidth <= 767"/>「股價 × 股數 × 0.3%」，僅賣出時收取。</li>
                        </ul>
                        <div class="fee-content">
                            <div class="fee-content-tit">白話小學堂</div>
                            <table data-aos="fade-up">
                                <tr>
                                    <th>買入</th>
                                    <td>
                                        <div class="name">
                                            券商
                                        </div><br/>
                                        於台積電股價500元時買入100股<br/>
                                        <span>500 × 100 × 0.1425% x 優惠費率＝$71.25</span><br/>
                                        此時將收取最高71元的零股手續費
                                    </td>
                                </tr>
                            </table>
                            <table data-aos="fade-up">
                                <tr>
                                    <th rowspan="2">賣出</th>
                                    <td>
                                        <div class="name">
                                            券商
                                        </div><br/>
                                        於台積電股價600元時賣出100股<br/>
                                        <span>600 × 100 × 0.1425% x 優惠費率 = $85.5</span><br/>
                                        此零股交易賣出手續費最高$86
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="name">
                                            證券交易所
                                        </div><br/>
                                        而證交稅則是<span>600 x 100 x 0.3% = $180</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>要留意的是當零股下單手續費未滿新台幣20元時，<span>多數券商仍會以20元計收，而凱基證券的零股單筆手續費優惠未滿新台幣1元者，按1元計收</span>，小資族投資毋須斤斤計較！</p>
                    </div>
                </section>

                <section class="proscons item">
                    <div class="container">
                        <h2 class="tit-type1" title="零股優缺點">零股<span>優缺點</span></h2>
                        <div class="proscons-pros">
                            <h3 class="proscons-pros-tit">
                                零股<span>優點</span>
                            </h3>
                            <div class="proscons-pros-content">
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        小額買到績優股
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-pros01.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        您看上一檔績優股，股價上百元，買一張要10萬起跳？現在您可<span>買1股幾百元，讓小錢也能跟著公司一起長大！</span>    
                                    </div>
                                </div>
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        照領股利和紀念品
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-pros02.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        <span>擁有1股就是股東，可享股東權益。</span>別忘了在最後過戶日前買入並參與電子投票喔！相關領取規定請參考股東會通知函。    
                                    </div>
                                </div>
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        分批進場分散風險
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-pros03.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        在股市每次<span>低點時分批小額買進</span>，可以攤低成本，提高獲利機會！    
                                    </div>
                                </div>
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        零股成交機會一樣多
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-pros04.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        以前零股給人難以成交的印象，但自2022年底盤中<span>零股每1分鐘撮合1次</span>，成交機率與速度都提高了！    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="proscons-cons">
                            <h3 class="proscons-pros-tit">
                                零股<span>缺點</span>
                            </h3>
                            <div class="proscons-pros-content">
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        券商手續費是關鍵
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-cons01.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        由於零股單次投資金額較低，且<span>手續費未滿20元以20元計收</span>，因此就會顯得手續費占比高；凱基證券手續費未滿新台幣1元者，按1元計收，能夠減少許多投資人的壓力！
                                    </div>
                                </div>
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        零股流動性較整股低
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-cons02.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        相較於整股，<span>買賣流動性稍低</span>也是零股交易缺點之一。不妨多觀察投資標的的「成交量」，做出更正確的投資選擇！    
                                    </div>
                                </div>
                                <div class="card" data-aos="flip-left">
                                    <div class="card-tit">
                                        零股成交價與整股成交價不同
                                    </div>
                                    <div class="card-img">
                                        <img src="images/proscons-cons03.svg" alt="">
                                    </div>
                                    <div class="card-text">
                                        投資前要留意的，還有<span>零股的成交成本通常會比起整股的盤價稍高</span>，可能是因為市場熱度差異、散戶溢價等，原因不一。透過凱基隨身e策略APP的「整零價差」比對，輕鬆評估自己的投資組合！    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="step item">
                    <div class="container">
                        <h2 class="tit-type1" title="零股推薦凱基證券！APP只要4步驟快速下單好方便！">
                            零股推薦凱基證券！<br>APP只要4步驟快速下單好方便！
                        </h2>
                        <div class="btnArea twoBtn">
                            <div class="btn green">
                                <a href="" title="零股交易" target="_blank">
                                    零股交易 <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                            <div class="btn white">
                                <a href="https://event.kgi.com.tw/news/event/rsp/index.html?openInfo=steps" title="定期定額" target="_blank">
                                    定期定額 <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <slick
                            class="slick1"
                            ref="slick"
                            :options="slickOptions1"
                            @afterChange="handleAfterChange"
                            @beforeChange="handleBeforeChange"
                            @breakpoint="handleBreakpoint"
                            @destroy="handleDestroy"
                            @edge="handleEdge"
                            @init="handleInit"
                            @reInit="handleReInit"
                            @setPosition="handleSetPosition"
                            @swipe="handleSwipe"
                            @lazyLoaded="handleLazyLoaded"
                            @lazyLoadError="handleLazeLoadError"
                        >
                            <div>
                                <div class="row vAlignCenter">
                                    <div class="col-12 col-sm-24 text-center">
                                        <h5 class="tit-type4" title="步驟1">
                                            步驟1
                                        </h5>
                                        <p>
                                            登入隨身e策略APP，<br/>搜尋股票或點交易。
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-24">
                                        <img src="images/step-01.png" alt="凱基開戶4步驟" class="chart-img">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row vAlignCenter">
                                    <div class="col-12 col-sm-24 text-center">
                                        <h5 class="tit-type4" title="步驟2">
                                            步驟2
                                        </h5>
                                        <p>
                                            搜尋完股票，<br/>點[零]進入零股交易。
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-24">
                                        <img src="images/step-02.png" alt="凱基開戶4步驟" class="chart-img">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row vAlignCenter">
                                    <div class="col-12 col-sm-24 text-center">
                                        <h5 class="tit-type4" title="步驟3">
                                            步驟3
                                        </h5>
                                        <p>
                                            您可看到零股交易的明細，<br/>並點價格直接買賣。
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-24">
                                        <img src="images/step-03.png" alt="凱基開戶4步驟" class="chart-img">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row vAlignCenter">
                                    <div class="col-12 col-sm-24 text-center">
                                        <h5 class="tit-type4" title="步驟4">
                                            步驟4
                                        </h5>
                                        <p>
                                            點下拉選單可選盤中或盤後零股，<br/>設定完後點買進就成功了!
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-24">
                                        <img src="images/step-04.png" alt="送出申請，靜待Email與簡訊通知" class="chart-img">
                                    </div>
                                </div>
                            </div>
                        </slick>
                        <p class="stepbtn text-center">
                            小小金額就能開啟投資旅程
                        </p>
                        <div class="btnArea">
                            <div class="btn orange">
                                <a href="https://eoa.kgi.com.tw/OOA/index.aspx" target="_blank" title="下載APP">
                                    下載APP <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="QA item">
                    <div class="container">
                        <h2 class="tit-type1" title="零股交易常見問題">
                            零股交易常見問題
                        </h2>
                        <details>
                            <summary><h3>Q. 分次買入零股最後可以集合成1張股票嗎？</h3></summary>
                            <p>可以，須留意當日買入的零股依然只能在次一交易日（T+1）才可賣出，無法當日交易。</p>
                        </details>
                        <details>
                            <summary><h3>Q. 零股下單要注意什麼？</h3></summary>
                            <p>零股下單建議您確認2件事。</p>
                            <ul>
                                <li>留意「委託單位」：投資前留心是否以「股」為單位，若是失手以「張」為單位下單，價差可是高達1,000倍。</li>
                                <li>留意「交割時間」：台股交易為「T+2交割」制度，應在第2個營業日的上午10:00點前確認交割帳戶內有充足的交割金額與手續費，若金額不足導致違約交割，嚴重時還可能面臨刑責喔！</li>
                            </ul>
                        </details>
                        <details>
                            <summary><h3>Q. 送出零股交易委託後，還可以修改嗎?</h3></summary>
                            <p>可以修改股數，無法修改價格，您也可選擇取消交易。</p>
                        </details>
                        <details>
                            <summary><h3>Q. 如果零股最後沒買賣成功，會保留到下午的盤後或隔天嗎?</h3></summary>
                            <p>盤中零股委託僅當日有效，未成交的買進或賣出，需要重新委託下單。</p>
                        </details>
                        <details>
                            <summary><h3>Q. 盤中零股可以當沖嗎?</h3></summary>
                            <p>盤中零股不能現股當沖及信用交易。</p>
                        </details>
                        <details>
                            <summary><h3>Q. 我在哪裡可以看到零股的庫存和損益?</h3></summary>
                            <p>無論是庫存或未實現損益，零股與整股都會加總計算，因此在您的庫存、損益即可看到該股資訊囉！ </p>
                        </details>
                    </div>
                </section>

            </article>

            <!-- footer -->
            <footer class="footer">
                <div class="container clearfix">
                    <div class="footer-content">
                        <span class="footer-content-block">凱基證券股份有限公司</span>
                        |
                        <span class="footer-content-block">客服專線:(02)2389-0088 ‧ 0800-085-005</span>
                        |
                        <span class="footer-content-block">
                            <a href="https://aiservice.kgieworld.com.tw/#/robotchat?platform=P" target="_blank" title="智能客服" class="linkText">
                                智能客服
                            </a>
                        </span>
                        <br />
                        <span class="footer-content-block">地址：台北市明水路700號</span>
                        |
                        <span class="footer-content-block">電話：(02)2181-8888</span>
                        |
                        <span class="footer-content-block">112年金管證總字第0025號</span>
                    </div>
                    <ul class="footer-share">
                        <li>
                            <a href="https://lin.ee/9W1XQqi" target="_blank" title="凱基證券樂活投資人LINE官方帳號">
                                <i class="fa-brands fa-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/KGISecurities" target="_blank" title="凱基證券樂活投資人Facebook">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kgisecurities/" target="_blank" title="凱基證券樂活投資人ig">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/%E5%87%B1%E5%9F%BA%E6%A8%82%E6%B4%BB%E6%8A%95%E8%B3%87%E4%BA%BA" target="_blank" title="凱基證券樂活投資人youtube">
                                <i class="fa-brands fa-square-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>

            <!-- fixedBtn -->
            <div class="fixedBtn">
                <ul>
                    <li>
                        <a href="https://eoa.kgi.com.tw/OOA/index.aspx?Source=E230706" title="開戶" target="_blank" id="AccountBtn">
                            <img src="images/open-account.svg" alt="開戶">
                            開戶
                        </a>
                    </li>
                    <li>
                        <a href="https://www.kgieworld.com.tw/ExternalFiles/mobile/WFLinkApp.aspx?Org=P&rUrl=kgiP" title="交易" id="TradeBtn" :target="windowWidth > 991 ? '_blank' : ''">
                            <img src="images/trading.svg" alt="交易">
                            交易
                        </a>
                    </li>
                    <li>
                        <a href="https://www.kgi.com.tw/zh-tw/lohas-mini-site" title="專家陪跑" target="_blank" id="ServiceBtn">
                            <img src="https://www.kgi.com.tw/zh-tw/-/media/images/kgis/sample-icons/nav_run.png" alt="專家陪跑">
                            專家陪跑
                        </a>
                    </li>
                    <li>
                        <a href="https://www.kgi.com.tw/zh-tw/others/navigation" title="常用功能" target="_blank">
                            <img src="https://www.kgi.com.tw/zh-tw/-/media/images/kgis/homepage/0001/icon05.png" alt="常用功能">
                            常用功能
                        </a>
                    </li>
                </ul>
            </div>

            <div class="topBtn">
                <a href="#top" title="返回最上面">
                    <span>
                        <i class="fas fa-caret-up"></i>
                        TOP
                    </span>
                </a>
            </div>

            <!-- <modal ref="warning" :can-close="false" class="md">
                <template #info>
                    xxxx
                </template>
            </modal> -->

            <modal ref="copyUrlSuccess" :can-close="true" class="md">
                <template #info>
                    <div class="tit-type1 margin-bottom-5 margin-top-15">
                        <i class="fa-solid fa-circle-check text-green"></i>
                    </div>
                    <p class="text-center margin-top-5">
                        <b>複製成功</b>
                    </p>
                </template>
            </modal>
                
        </div>

        <script src="js/main.min.js"></script>
        
    </body>
</html>